In [1]:
import pandas as pd
df=pd.read_csv('top_250_raw.csv')

In [4]:
display(df.head())

,title,year,runtime,rating,url,popularity_score,genres,release_date
0,1. The Shawshank Redemption,1994,2h 22m,9.3,https://www.imdb.com/title/tt0111161/?ref_=cht...,80,"Epic, Period Drama, Prison Drama, Drama","October 14, 1994"
1,2. The Godfather,1972,2h 55m,9.2,https://www.imdb.com/title/tt0068646/?ref_=cht...,106,"Epic, Gangster, Tragedy, Crime, Drama","March 24, 1972"
2,3. The Dark Knight,2008,2h 32m,9.0,https://www.imdb.com/title/tt0468569/?ref_=cht...,146,"Action Epic, Epic, Superhero, Action, Crime, D...","July 18, 2008"
3,6. The Lord of the Rings: The Return of the King,2003,3h 21m,9.0,https://www.imdb.com/title/tt0167260/?ref_=cht...,221,"Adventure Epic, Epic, Fantasy Epic, Mountain A...","December 17, 2003"
4,5. 12 Angry Men,1957,1h 36m,9.0,https://www.imdb.com/title/tt0050083/?ref_=cht...,248,"Legal Drama, Psychological Drama, Crime, Drama","April 10, 1957"

In [8]:
df[['rank', 'title_clean']] = df['title'].str.split('.', n=1, expand=True)

# Remove any leading/trailing spaces in the 'title_clean' column
df['title_clean'] = df['title_clean'].str.strip()

# Show the updated DataFrame
display(df.head())

,title,year,runtime,rating,url,popularity_score,genres,release_date,rank,title_clean
0,1. The Shawshank Redemption,1994,2h 22m,9.3,https://www.imdb.com/title/tt0111161/?ref_=cht...,80,"Epic, Period Drama, Prison Drama, Drama","October 14, 1994",1,The Shawshank Redemption
1,2. The Godfather,1972,2h 55m,9.2,https://www.imdb.com/title/tt0068646/?ref_=cht...,106,"Epic, Gangster, Tragedy, Crime, Drama","March 24, 1972",2,The Godfather
2,3. The Dark Knight,2008,2h 32m,9.0,https://www.imdb.com/title/tt0468569/?ref_=cht...,146,"Action Epic, Epic, Superhero, Action, Crime, D...","July 18, 2008",3,The Dark Knight
3,6. The Lord of the Rings: The Return of the King,2003,3h 21m,9.0,https://www.imdb.com/title/tt0167260/?ref_=cht...,221,"Adventure Epic, Epic, Fantasy Epic, Mountain A...","December 17, 2003",6,The Lord of the Rings: The Return of the King
4,5. 12 Angry Men,1957,1h 36m,9.0,https://www.imdb.com/title/tt0050083/?ref_=cht...,248,"Legal Drama, Psychological Drama, Crime, Drama","April 10, 1957",5,12 Angry Men

In [10]:
# Drop the original 'title' column
df = df.drop(columns=['title'])

# Rename 'title_clean' to 'title' for clarity
df = df.rename(columns={'title_clean': 'title'})

# Reorder the columns so 'rank' and 'title' come first
column_order = ['rank', 'title'] + [col for col in df.columns if col not in ['rank', 'title']]
df = df[column_order]

# Show the updated DataFrame
display(df.head())

,rank,title,year,runtime,rating,url,popularity_score,genres,release_date
0,1,The Shawshank Redemption,1994,2h 22m,9.3,https://www.imdb.com/title/tt0111161/?ref_=cht...,80,"Epic, Period Drama, Prison Drama, Drama","October 14, 1994"
1,2,The Godfather,1972,2h 55m,9.2,https://www.imdb.com/title/tt0068646/?ref_=cht...,106,"Epic, Gangster, Tragedy, Crime, Drama","March 24, 1972"
2,3,The Dark Knight,2008,2h 32m,9.0,https://www.imdb.com/title/tt0468569/?ref_=cht...,146,"Action Epic, Epic, Superhero, Action, Crime, D...","July 18, 2008"
3,6,The Lord of the Rings: The Return of the King,2003,3h 21m,9.0,https://www.imdb.com/title/tt0167260/?ref_=cht...,221,"Adventure Epic, Epic, Fantasy Epic, Mountain A...","December 17, 2003"
4,5,12 Angry Men,1957,1h 36m,9.0,https://www.imdb.com/title/tt0050083/?ref_=cht...,248,"Legal Drama, Psychological Drama, Crime, Drama","April 10, 1957"

In [12]:
# Separate date in 2 columns "month" and "year"
df['month'] = df['release_date'].str.split(' ').str[0]  # Extract the month
df['year'] = df['release_date'].str.split(' ').str[-1]  # Extract the year

# Drop the original release_date column
df = df.drop(columns=['release_date'])

# Reorder the columns to include month and year at the end
column_order = [col for col in df.columns if col not in ['month', 'year']] + ['month', 'year']
df = df[column_order]

# Show the updated DataFrame
display(df.head())

,rank,title,runtime,rating,url,popularity_score,genres,month,year
0,1,The Shawshank Redemption,2h 22m,9.3,https://www.imdb.com/title/tt0111161/?ref_=cht...,80,"Epic, Period Drama, Prison Drama, Drama",October,1994
1,2,The Godfather,2h 55m,9.2,https://www.imdb.com/title/tt0068646/?ref_=cht...,106,"Epic, Gangster, Tragedy, Crime, Drama",March,1972
2,3,The Dark Knight,2h 32m,9.0,https://www.imdb.com/title/tt0468569/?ref_=cht...,146,"Action Epic, Epic, Superhero, Action, Crime, D...",July,2008
3,6,The Lord of the Rings: The Return of the King,3h 21m,9.0,https://www.imdb.com/title/tt0167260/?ref_=cht...,221,"Adventure Epic, Epic, Fantasy Epic, Mountain A...",December,2003
4,5,12 Angry Men,1h 36m,9.0,https://www.imdb.com/title/tt0050083/?ref_=cht...,248,"Legal Drama, Psychological Drama, Crime, Drama",April,1957

In [16]:
# Create new csv for cleaned movie data
df.to_csv('movies_cleaned.csv',index=False, encoding='utf-8')